.site-footer{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: right;
    background-color: #D4D9D0;
    padding-bottom:5%;
    padding-right:1%;
    font-size: 140%;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
}

a {
  color: black; 
  text-decoration: none; 
}
