* {
	padding: 0px;
	margin: 0px;
}


.header{
    position: fixed;
    padding: 1%;
    
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #D4D9D0;
}

.left_buttons{
    
    z-index: 25;
    box-sizing: border-box;
    width: 40%;
    display: flex;
    justify-content: space-between;
}


.button{
    color: #152B00;
    font-size: 110%;
    font-family: "Montserrat", sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #20310F;
    border-radius: 15px;
    background: none;
    
}

.right_buttons{
    box-sizing: border-box;
    display: flex;
    font-size: 110%;
    font-family: "Montserrat", sans-serif;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    border: 1px solid #152B00;
    
    border-radius: 15px;
    background: none;
    color: #152B00;
    z-index: 120;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover { box-shadow: 0 0 70px 20px rgba(88,101,76, 0.3) inset;  }
}
 
.button.button.button_1{
    z-index: 120;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover { box-shadow: 0 0 70px 20px rgba(88,101,76, 0.5) inset; color: white;}
    
}

.button.button.button_2{
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover { box-shadow: 0 0 70px 20px rgba(88,101,76, 0.5) inset; color: white; }

}

.right_buttons:hover .night path {
  transition: 400ms;
  stroke: #ffffff;
}


